<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Driver Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css" />
</head>

<body onload="DriverTeamDropdown()">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="Index.html">Home</a></li>
                <li class="active"><a href="Driver.html">Drivers</a></li>
                <li><a href="Team.html">Teams</a></li>
                <li><a href="Race.html">Races</a></li>
                <li><a href="Track.html">Track</a></li>
            </ul>
        </div>
    </nav>

    <table>
        <tr>
            <td>
                <label for="drivers">Choose a driver: </label>
            </td>
            <td>
                <select name="drivers" id="driver">
                    <option selected="selected"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="teams">Choose a team: </label>
            </td>
            <td>
                <select name="teams" id="team">
                    <option selected="selected"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="race-number">Choose a race number: </label>
            </td>
            <td>
                <input type="number" id="RaceNumber" name="race-number" required min="1" max="99"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="date-from">Choose a starting date (month-day-year): </label>
            </td>
            <td>
                <input type="date" id='DateFromInput' />
            </td>
        </tr>
        <tr>
            <td>
                <label for="date-to">Choose an ending date (optional) (month-day-year): </label>
            </td>
            <td>
                <input type="date" id='DateToInput' />
            </td>
        </tr>
    </table>

    <button id="submitButton" onclick="loadJsonData('DriverTeams', 'POST')">Submit</button>

    <script src="js/DriverTeam.js"></script>
    <script src="js/Script.js">
    </script>


</body>
</html>