<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Driver Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    .lmao {
        display: inline-block;
        white-space: pre;
        border: 2px black solid;
    }
    .div-style{
        display: block;
        padding: 5px;
        width: 600px;
    }

    #driverTable, th, td {
        
    }
</style>

<body onload="GetDrivers()">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="Index.html">Home</a></li>
                <li class="active"><a href="Driver.html">Drivers</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>

    <div class="div-style container" id="output">
        <a href="CreateDriver.html">Add New Driver</a>
        <table class="table table-hover" id="driverTable">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Country</th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>

    <a onclick=""></a>

    <script>

        function GetDrivers() {
            $.ajax({
                url: 'https://localhost:7253/api/Drivers',
                method: 'GET',
                success: function (data) {
                    debugger;
                    var driversJSON = JSON.stringify(data, null, 2);

                    var drivers = JSON.parse(driversJSON);

                    Object.keys(drivers).forEach(function (entry) {
                        $('#driverTable').append(`<tr id=${drivers[entry]['id']}>`);

                        for (const [key, value] of Object.entries(drivers[entry])) {
                            $(`#${drivers[entry]['id']}`).append(`<td>${drivers[entry][key]}`);
                        }

                        $(`#${drivers[entry]['id']}`).append(`<td><a href='#'>Update</a></td>`)
                        $(`#${drivers[entry]['id']}`).append(`<td><a href='#'>Remove</a></td>`)

                        $('#driverTable').append('</tr>');
                    });
                },
                error: function (xhr, status, error) {
                    debugger;
                    $('#output').text('Error: ' + error);
                }
            });
        }
    </script>


</body>
</html>