<div class="container">
  <h2>Drivers</h2>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Race Number</th>
      <th>Team</th>
      <th style="text-align: center;">
        <div class="d-flex gap-2 justify-content-center">
          <a routerLink="/drivers/new">new</a>
          <a routerLink="/driverTeams/new" class="btn btn-sm btn-outline-primary">Driver-Team</a>
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="table-primary">
    <tr *ngFor="let driver of drivers">
      <td>{{ driver.name }}</td>
      <td>{{ driver.country }}</td>
      <td>{{ driver.raceNumber }}</td>
      <td>{{ driver.team }}</td>
      <td>
        <div class="d-flex gap-2">
        <a [routerLink]="['/drivers/edit', driver.id]" class="btn btn-primary btn-sm">Edit</a>
        <button (click)="deleteDriver(driver.id!)" class="btn btn-danger btn-sm">Delete</button>
          <button *ngIf="driver.teamId != null" (click)="removeDriverFromTeam(driver.id!, driver.teamId!)" class="btn btn-warning btn-sm">Remove</button>
        <a *ngIf="driver.teamId == null" [routerLink]="['/driverTeams/new']" class="btn btn-secondary btn-sm">Add Team</a>
        </div>
      </td>
    </tr>
  </tbody>
    </table>
  </div>
</div>