USE [master]
GO
/****** Object:  Database [F1]    Script Date: 2025-12-28 21:36:12 ******/
CREATE DATABASE [F1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'F1', FILENAME = N'C:\Users\Filip\F1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'F1_log', FILENAME = N'C:\Users\Filip\F1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [F1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [F1]
GO
/****** Object:  User [F1User]    Script Date: 2025-12-28 21:36:12 ******/
CREATE USER [F1User] FOR LOGIN [F1User] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [F1User]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 2025-12-28 21:36:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[IsVisible] [bit] NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverTeam]    Script Date: 2025-12-28 21:36:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverTeam](
	[DriverID] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NULL,
	[RaceNumber] [int] NULL,
 CONSTRAINT [PK_DriverTeam] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC,
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Points]    Script Date: 2025-12-28 21:36:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Points](
	[DriverID] [int] NOT NULL,
	[RaceID] [int] NOT NULL,
	[Points] [float] NULL,
	[Position] [int] NULL,
 CONSTRAINT [PK_Points] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC,
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Race]    Script Date: 2025-12-28 21:36:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RaceDate] [datetime] NOT NULL,
	[Laps] [int] NULL,
	[TrackID] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 2025-12-28 21:36:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Engine] [nvarchar](50) NOT NULL,
	[IsVisible] [bit] NOT NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 2025-12-28 21:36:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Length] [float] NOT NULL,
	[IsVisible] [bit] NOT NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([ID], [Name], [Country], [IsVisible]) VALUES (1, N'George Russel', N'United Kingdom', 1)
INSERT [dbo].[Driver] ([ID], [Name], [Country], [IsVisible]) VALUES (3, N'Max Verstappen', N'Netherlands', 1)
INSERT [dbo].[Driver] ([ID], [Name], [Country], [IsVisible]) VALUES (4, N'Yuki Tsunoda', N'Japan', 1)
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
INSERT [dbo].[DriverTeam] ([DriverID], [TeamID], [DateFrom], [DateTo], [RaceNumber]) VALUES (1, 1, CAST(N'2022-01-05T00:00:00.000' AS DateTime), CAST(N'2025-09-02T00:00:00.000' AS DateTime), 63)
INSERT [dbo].[DriverTeam] ([DriverID], [TeamID], [DateFrom], [DateTo], [RaceNumber]) VALUES (1, 2, CAST(N'2025-09-09T00:00:00.000' AS DateTime), CAST(N'2025-09-09T00:00:00.000' AS DateTime), 63)
INSERT [dbo].[DriverTeam] ([DriverID], [TeamID], [DateFrom], [DateTo], [RaceNumber]) VALUES (1, 1002, CAST(N'2025-09-12T00:00:00.000' AS DateTime), NULL, 63)
GO
INSERT [dbo].[Points] ([DriverID], [RaceID], [Points], [Position]) VALUES (1, 1, 10, 5)
INSERT [dbo].[Points] ([DriverID], [RaceID], [Points], [Position]) VALUES (1, 1003, 18, 2)
INSERT [dbo].[Points] ([DriverID], [RaceID], [Points], [Position]) VALUES (3, 1, 15, 3)
GO
SET IDENTITY_INSERT [dbo].[Race] ON 

INSERT [dbo].[Race] ([ID], [RaceDate], [Laps], [TrackID], [IsVisible]) VALUES (1, CAST(N'2025-08-05T00:00:00.000' AS DateTime), 44, 1, 1)
INSERT [dbo].[Race] ([ID], [RaceDate], [Laps], [TrackID], [IsVisible]) VALUES (2, CAST(N'2026-08-13T13:47:04.637' AS DateTime), 43, 1, 0)
INSERT [dbo].[Race] ([ID], [RaceDate], [Laps], [TrackID], [IsVisible]) VALUES (3, CAST(N'2025-08-13T00:00:00.000' AS DateTime), 40, 2, 1)
SET IDENTITY_INSERT [dbo].[Race] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([ID], [Name], [Engine], [IsVisible]) VALUES (1, N'Mercedes', N'Mercedes', 1)
INSERT [dbo].[Team] ([ID], [Name], [Engine], [IsVisible]) VALUES (2, N'Red Bull', N'RBPT-Honda', 1)
INSERT [dbo].[Team] ([ID], [Name], [Engine], [IsVisible]) VALUES (1002, N'Torro Rosso', N'RBPT-Honda', 1)
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Track] ON 

INSERT [dbo].[Track] ([ID], [Name], [Country], [Length], [IsVisible]) VALUES (1, N'Spa-Francorchamps', N'Belgium', 7.003, 1)
INSERT [dbo].[Track] ([ID], [Name], [Country], [Length], [IsVisible]) VALUES (2, N'Interlagos', N'Brazil', 4.309, 1)
INSERT [dbo].[Track] ([ID], [Name], [Country], [Length], [IsVisible]) VALUES (1002, N'Baku Street Circuit', N'Azerbaijan', 6.003, 1)
SET IDENTITY_INSERT [dbo].[Track] OFF
GO
ALTER TABLE [dbo].[Driver] ADD  CONSTRAINT [DF_Driver_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Race] ADD  CONSTRAINT [DF_Race_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[DriverTeam]  WITH CHECK ADD  CONSTRAINT [FK_DriverTeam_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[DriverTeam] CHECK CONSTRAINT [FK_DriverTeam_Driver]
GO
ALTER TABLE [dbo].[DriverTeam]  WITH CHECK ADD  CONSTRAINT [FK_DriverTeam_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([ID])
GO
ALTER TABLE [dbo].[DriverTeam] CHECK CONSTRAINT [FK_DriverTeam_Team]
GO
ALTER TABLE [dbo].[Points]  WITH CHECK ADD  CONSTRAINT [FK_Points_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[Points] CHECK CONSTRAINT [FK_Points_Driver]
GO
ALTER TABLE [dbo].[Points]  WITH CHECK ADD  CONSTRAINT [FK_Points_Race] FOREIGN KEY([RaceID])
REFERENCES [dbo].[Race] ([ID])
GO
ALTER TABLE [dbo].[Points] CHECK CONSTRAINT [FK_Points_Race]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_Track] FOREIGN KEY([TrackID])
REFERENCES [dbo].[Track] ([ID])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_Track]
GO
USE [master]
GO
